@font-face {
  font-family: 'Urdu-Naskh-Unicode';
  src: url('./Urdu\ Naskh\ Unicode.ttf');
  type: 'ttf';
}
.title {
padding-bottom:0.5rem;
margin-bottom:1rem;
border-bottom:2px solid black;
font-size:2.5rem;
width:fit-content;

}
.question {
font-size:1.5rem;
padding:1rem 0 0 0;
}
.answerbox,
.wordsbox {
  width: auto;
  height: auto;
  border: 2px solid black;
  padding: 1rem;
  margin: 1rem;
}
.correct {
  border: 2px solid limegreen;
}
.unsolved {
  border: 2px solid orangered;
}
.child {
  display: inline-block;
  font-size: 1.5rem;
  font-family: 'Urdu-Naskh-Unicode';
  font-weight: bold;
}
.answerbox span {
margin: 0 4px;

}
.wordsbox span {
  background-color: lightgrey;
  padding: 0.8rem 0.5rem 0.5rem 0.5rem;
  margin: 0 3px;
}

