@import url('./resets.css');
@import url('./dragula.min.css');
@import url('./drag.css');
@import url('./media.css');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  padding-bottom: 0.2rem;
}
a,
a:visited {
  text-decoration: none;
}
ul {
  list-style: none;
}
/* variables */
:root {
  --clr-dark-bg: #131e1e;
  --clr-dark-text: #282626;
  --clr-light-bg: #ffffff;
  --clr-light-text: #d7d5ce;
  --clr-primary-light: #7642c1;
  --clr-primary-dark-alt: #489199;
  --clr-primary-dark: #71eed7;
}
html {
  font-size: 15px;
}
body {
  line-height: 1.5;
}

p {
  font-size: 1.125rem;
}

main {
  width: 100%;
  margin: 0 auto;
}

footer {
  margin: 0 auto;
  width: 50%;
  padding-top: 2rem;
}
footer p {
  margin: 0 auto;
}
